/*------------------------------------
			GENERAL STYLES
-------------------------------------*/
.row{
	margin-bottom: 20px;
}
/*------------------------------------
			SELECTED STYLES
-------------------------------------*/
.hat-info{
	height: 8em;
}
.hat-info span{
	/*margin-right: 20px;*/
}
.hat-info .price{
	font-weight: bold;
	font-size: 1.5em;
}

/*------------------------------------
			FILTERS STYLES
-------------------------------------*/
.ui-slider{
	width: 100%;
	margin: 5px 0;
}
.ui-slider-horizontal{
	height: .5em;
}
.ui-slider .ui-slider-handle{
	height: 1em;
	width: 1em;
}
.slider-label, .value-label{
	font-weight: bold;
}
.filter{
	margin-bottom: 20px;
}
.color-input{
	display: none;
}
.color-picker{
	text-align: center;
	float: left;
	width: 40px;
}
.color-label{
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin-right: 10px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.color-label-disabled{
	width: 20px;
	height: 20px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.color-label-green{
	background-color: green;
}
.color-label-pink{
	background-color: pink;
}
.color-label-black{
	background-color: black;
}
.color-label-brown{
	background-color: #7e5d36;
}

/*------------------------------------
			RESULT STYLES
-------------------------------------*/
.result{
	/*float: left;*/
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
	text-align: center;
}
.result-inner{
	width: 95px;
	overflow: hidden;
}
.result-label{
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}
.thumbs-block {
    position:relative; /* THIS LINE */
    overflow: hidden;
    white-space: nowrap;
    /*background: #ccc;*/
    margin: 0 5px;
    /*width: 714px;*/
    /*width: 100%;*/
    height:142px;      /* THIS LINE */
} 
.thumbs{ /* ALL */
    white-space: nowrap;
    text-align: center; 
	position:absolute;
	padding: 0 2px;
	margin-left:0;       WILL BE CONTROLLED BY jQ 
}