/*------------------------------------
			GENERAL STYLES
-------------------------------------*/
.peters-hats{
	width: 500px;
	max-width: 100%;
	margin: 0 auto;
}
/*------------------------------------
			SELECTED STYLES
-------------------------------------*/
.hat-info{
	width: 50%;
}
.hat-image{
	width: 50%
}
.hat-details{
	float: left;
	width: 40%;
}
.filters{
	/*float: right;*/
	/*width: 100%;*/
}
.hat-info span{
	/*margin-right: 20px;*/
}
.hat-details .price{
	font-weight: bold;
	font-size: 1.5em;
}
.hat-details .size{
	font-weight: bold;
}
.hat-details .color{
	vertical-align: middle;
	font-weight: bold;
}
.color-block{
	display: inline-block;
	margin-top: 5px;
	width: 60px;
	height: 30px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*------------------------------------
			FILTERS STYLES
-------------------------------------*/
.filter[ph-slider]{
	float: right;
	clear: right;
	width: 60%;
}
.filter{
	clear: right;
	float: right;
}
.ui-slider{
	width: 100%;
	margin: 5px 0;
}
.ui-slider-horizontal{
	height: .5em;
}
.ui-slider .ui-slider-handle{
	height: 1em;
	width: 1em;
}
.slider-label, .value-label{
	font-weight: bold;
}
.filter{
	margin-bottom: 20px;
}
.color-input{
	display: none;
}
.color-picker{
	text-align: center;
	float: left;
	width: 40px;
}
.color-label{
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin-right: 10px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.color-label-disabled{
	width: 20px;
	height: 20px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.color-label-green{
	background-color: green;
}
.color-label-pink{
	background-color: pink;
}
.color-label-black{
	background-color: black;
}
.color-label-brown{
	background-color: #7e5d36;
}

/*------------------------------------
			RESULT STYLES
-------------------------------------*/
.results{
	display: block;
	clear: both;
}
.result{
	display: inline-block;
	margin-right: 10px;
	margin-left: 5px;
	cursor: pointer;
	text-align: center;
}
.result-inner{
	width: 95px;
	overflow: hidden;
}
.result-label{
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}
.thumbs-block {
    position:relative;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 5px;
    height:142px;
} 
.thumbs{
    white-space: nowrap;
    text-align: center; 
	position:absolute;
	padding: 0 2px;
	margin-left:0; 
}