<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Peter's Hats</title>

		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/jquery-ui-1.10.4.custom.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">

		<!-- angular from recommended google CDN -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-touch.min.js"></script>
	</head>
	<body>
		<div ng-app="petersHats" ng-controller="PetersHatsCtrl" class="container">
			<div class="row main">
				<div class="col-sm-6">
					<img class="img-responsive" ng-src="{{selected.imageSrcFull}}">
				</div>
				<div class="col-sm-6">
					<div class="hat-info">
						<h2>{{selected.name}}</h2>
						<div class="row">
							<div class="col-xs-5 hat-details">
								<div class="price">{{selected.price | currency}}</div> 
								<div class="size">Size: {{selected.size}}</div>
								<div class="color">Color: {{selected.color}}</div>
							</div>
							<div class="filters col-xs-7">
								<div 
									class="filter"
									ph-slider 
									ng-model-pair="priceRange"
									ph-slider-label="Price"
									ph-slider-min="0"
									ph-slider-max="50"
									ph-slider-filter-name="currency"
									>
								</div>
								<div 
									class="filter"
									ph-slider 
									ng-model-pair="sizeRange"
									ph-slider-label="Size"
									ph-slider-min="4"
									ph-slider-max="10"
									>
								</div>
								<div class="filter">
									<div class="value-label">Colors</div>
									<div class="color-picker clearfix" ng-repeat="color in colors.options" >
										<label ng-class="colors[color] ? '' : 'color-label-disabled'" class="color-label color-label-{{color}}" for="color-picker-{{color}}"><span class="sr-only">{{color}}</span></label>
										<input type="checkbox" ng-model="colors[color]" id="color-picker-{{color}}" class="color-input">
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="row results">
				<div class="col-sm-12">
					<div class="thumbs-block" ph-slide-show>
						<div class="thumbs" ph-thumbs>
							<div class="thumbnail result" ng-repeat="hat in hats | costs:priceRange.low:priceRange.high | sized:sizeRange.low:sizeRange.high | colored:colors" ng-click="select(hat)">
								<div class="result-inner">
									<img class="img-responsive" ng-src="{{hat.imageSrcThumbnail}}">
									<span class="result-label">{{hat.name}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- jquery and jquery ui stuff for slider directive -->
		<script src="js/jquery-1.11.0.min.js"></script>
		<script src="js/jquery-ui-1.10.4.custom.min.js"></script>
		<script src="js/jquery.ui.touch-punch.min.js"></script>

		<!-- just js -->
		<script type="text/javascript" src="js/scrollingSlideShow.js"></script>
		<script type="text/javascript" src="js/slider.js"></script>
		<script type="text/javascript" src="js/petersHats.js"></script>
	</body>
</html>